@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
body {
	background-color: black;
	margin:0;
	font-family: 'Roboto', sans-serif;
}

header {
	position: absolute;
	top:0;
	width:100vw;
	z-index: 9999999999;
	background-color: white;
	color:black;
	text-align: center;
}

h1 {
	font-size:2.5em;
	color:#e74c3c;
}

#map {
    height: 100vh;
    width:100vw;
    margin:auto;
}

.header-container {
	padding:10px 20px;
}
.head-title {
    display: inline-block;
}
.menu-icon {
    display: inline-block;
    cursor: pointer;
    float:right;
    margin-top:20px;
}

.sidebar {
	position: absolute;
	right:0px;
	top:0px;
	width:300px;
	background: white;
	height:100vh;
	z-index: 999999999;
	display:none;
}

.sidebar-container {
	margin-top:120px;
	padding: 30px
}

#search {
	width:210px;
	padding: 10px
}

.test {
	border:1px solid red;
}

.placelist {
	list-style: none;
	margin:0;
	padding:0;
	display: block;
}

.placelist li{
	margin:20px 0;
	width:100%;
	padding:10px;
	font-size:22px;
	cursor:pointer;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #192a56;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}