/*
====
A Front-end Nanodegree Project 
"Build a Portfolio Site"

by Yunchi Lin
====
*/

/* 
====
Reset 
====
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}


/* 
====
Styling
====
*/


@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

html, body {
	font-family: 'Montserrat', sans-serif;
}

header, footer {
	background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%); 
	text-align: center;
	padding:40px;
	color:white;
}

header h1 {
	font-size:2.5rem;
	line-height: 3rem;
	font-weight:bold;
}

header h4 {
	font-size:2rem;
	font-weight: bold;
}

header p {
	font-weight: 300;
	line-height: 24px;
}

@media only screen and (max-width: 480px) {
header h1 {
	font-size:1.9rem;
	line-height: 3rem;
	font-weight:bold;
}

}

.avatar {
	border-radius: 100%;
	height:100px;
	border:3px solid white;
	margin:10px;
}

.container {
	width:90vw;
	margin: auto;
	padding:10px;
}

.align-center {
	text-align: center;
}

section {
	border-radius:10px;
	box-shadow: -4px 11px 23px -5px rgba(0,0,0,0.4);
	width:400px;
	padding:10px;
	display: inline-block;
	border:3px solid #eee;
	margin:20px;
}

.column img {
	width:100%;
}
.column img:hover {
	cursor:pointer;
	opacity: 0.7;
	filter: contrast(120%);
}


h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	font-weight: 300;
	padding:30px;
}

@media screen and (max-width: 1280px) and (min-width: 768px) {
h4 {
	font-size:1rem;
}
}

footer a {
	color:white;
	font-weight: bold;
}

.social-links li {
	display: inline-block;
	font-size: 2rem;
	margin:10px;
}

.social-links a{
	color:white;
}

.social-links a:hover {
	color:#eee;
}