/*
====
A Front-end Nanodegree Project 
Animal Trading Cards 

by Yunchi Lin

I've learned the flip effect here :) 
https://davidwalsh.name/css-flip

====
*/

body {
	/*background-color: #1abc9c;*/
	background-color: #eee;
	font-family: georgia;
}


.container {
	perspective: 1500px;
	width:340px;
  	margin:20vh auto;
}

.container:hover .card{
	transform: rotateY(180deg);
}

.card {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
  	width:340px;
}


.front,.back {
	border:1px solid #eee;
  	padding:10px 20px;
	width:300px;
  	height:580px;
	border-radius: 20px;
	box-shadow: 0 6px 16px rgba(0,0,0,0.15);
	background-color: white;
	cursor: pointer;
  	backface-visibility: hidden;
  	margin:10px auto;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	transform: rotateY(180deg);
}

.back {
  	z-index: 2;
	transform: rotateY(0deg);  
  	background: repeating-linear-gradient(
  	45deg,  #2ecc71,  #2ecc71 20px,  #fff 20px,  #fff 40px);
  	text-align:center; 
}

.back h1 {
	margin-top:250px;
}

h3 {
	font-size:1.5em;text-align: center;
}

img {
	margin-bottom:10px;
	border-radius: 20px
}

span {
	font-weight: bold;
}

.description {
	border:1px solid #1abc9c;
	padding:0 10px;
	border-radius: 20px;
	margin-bottom: 10px

}

ul,li { 
  	list-style-type: none;
  	list-style-position:inside;
  	margin:0;
  	padding:0;
}
