@charset "utf-8";
/* CSS Document */

// #F33B6D
// #F2524D
// Variables
// $maincolor: #eb2f06;
$maincolor:linear-gradient(160deg, #F33B6D 0%, #F2524D 100%);

$subcolor: #F14B5D;
$bgcolor:#fdfdfd;

// @import url('https://fonts.googleapis.com/css?family=Bevan');
@import url('https://fonts.googleapis.com/css?family=Bevan|Open+Sans');

body,td,th,p{
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.4;
}
body {
	background-color: $bgcolor;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	color: #333333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	// color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  max-height:100%;
  // padding:10px;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background: $maincolor;
  text-align:center;
  padding:20px 0 ;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: 'Bevan', cursive;

  @media only screen and (max-width: 800px) {
  font-size:1.6rem;
  }
}
#breadcrumb {
    text-align:center;
    padding:15px;
    list-style: none;
    background:white;
    font-size: 17px;
    margin: 0;
      box-shadow: 10px 10px 5px #eee;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    color: #555;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    content: "/\00a0";
    
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: black;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: black;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background: white;
  align-items: center;
  text-align:center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
  margin: 0 20px;
}
.filter-options select {
  background:#eee;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  // color:white;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius:10px;
  font-family: Arial,sans-serif;
  margin: 15px;
  // min-height: 380px;
  text-align: left;
  width: 400px;
  display:inline-block;
  text-align:center;

  @media only screen and (max-width: 1200px) {
  max-width:100%;
  min-width:90%;
  margin: 15px 0 ;
  }
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}

.restaurant-img {
  border-radius:5px 5px 0 0;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: $subcolor;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 1.2em;
  margin: 15px 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius:20px;


  &:hover {
    background:#999;
  }
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height:85%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 48%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  padding:10px;
  width: 100%;
  position: fixed;
  bottom:0;
  width: 100%;
}


#restaurant-name {
  color: $maincolor;
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
  font-weight: 200;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 1.1;
  margin-top:20px;
}
#restaurant-img {
  max-width:100%;
  border-radius:0
}
#restaurant-address {
  font-size: 1.5em;
  margin: 30px 0px;
  text-align:center;
}
#restaurant-cuisine {
  background-color: $subcolor;
  color: #fff;
  padding:5px;
  margin:20px auto;
  font-size: 12pt;
  font-weight: 300;
  // letter-spacing: 10px;
  text-align:center;
  text-transform: uppercase;
  max-width:200px;
  border-radius:20px;
}

#restaurant-container {
  margin-top:140px;
  text-align:center;
}
#restaurant-container, #reviews-container {
  width: 50%;
  padding:10px;
}
#reviews-container {
  margin-top:20px;
  margin-bottom:30px;
}
#reviews-container h2 {
  color: $maincolor;
  text-transform:uppercase;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  text-align:center;
  // font-family: 'Bevan', cursive;
  font-family: 'Open Sans', sans-serif;
}
#reviews-list {
  max-width:800px;
  margin: 0 auto;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding:20px;
  position: relative;
  border-radius:10px;
}
#reviews-list li p {
  font-size:1.2em;
  margin: 0 0 10px;
}

#reviews-list li p:nth-child(1) {
  font-size:1.5em;
  font-weight:bold;
  color:red;
}

#reviews-list li p:nth-child(2) {
  font-size:1em;
  color:#999;
}

#reviews-list li p:nth-child(3) {
  font-size:1.2em;
  font-weight:bold;
  // color:orange;
  color:red;
}

#reviews-list li p:nth-child(4) {
  font-style:italic;
  line-height:2em;
}

#restaurant-hours {
  width:100%;
  max-width:800px;
  margin:auto;
}
#restaurant-hours td {
  background-color:white;
  text-align:center;
  padding:15px;
  font-size:1.2em;

}


@media only screen and (max-width: 1200px) {
.inside #map-container{
  background: white none repeat scroll 0 0;
  right: 0;
  top: 120px;
  height:250px;
  width: 100%;
  z-index:9999999;
}

#restaurant-container, #reviews-container {
  width:93%;
}

#restaurant-container {
  margin-top:370px;
}

}
