html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color:white;
    font-size:3rem;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background-color: #ccc;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #0a3d62;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

img {display:none;}
.card.show img {display:block;}
/*.card.open img {display:block;}*/
.card.match img {display:block;}

.deck .card.open {
    transform: rotateY(180);
    background: #fff;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
    background: #fff;
}

.deck .card.match {
    cursor: default;
    background: #1dd1a1;
    font-size: 33px;
}

.deck .card.unmatch {
    cursor: default;
    background: #ee5253;
    font-size: 33px;
}

.card img {width:100px;}
/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
    color:white;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}


/*
==========
  Pop-up Win
==========
*/
.popup-congrats {
    position:absolute;
    width:100vw;
    height:100vh;
    background:white;
    opacity: .5;
}


footer {
    color:white;
    text-align:center;
    font-weight: normal;
    font-size:14px;
}

footer a {
    color:white;
    text-decoration: none;
    font-weight:bold;
}

footer a:hover {
    text-decoration: underline;
}


/*
==========
  Timer
==========
*/

.timer {
    margin:0 20px;
}


